*.iml
.gradle

/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

/GuessMyAgeApp/.idea/caches
/GuessMyAgeApp/.idea/libraries
/GuessMyAgeApp/.idea/modules.xml
/GuessMyAgeApp/.idea/workspace.xml
/GuessMyAgeApp/.idea/navEditor.xml
/GuessMyAgeApp/.idea/assetWizardSettings.xml

.DS_Store
/build
/captures
.externalNativeBuild
.cxx
